$primary-color:#FF651C;
$secondery-color:#212121;
$sub-color1:#5A5A5A;
$sub-color2:#9A9A9A;
$sub-color3:#DEE2E8;
$sub-color4:#FFFFFF;


$sm: 540px;//≥576px	small
$md: 720px;//≥Medium ≥768px
$lg: 960px;//≥992px	Large
$xl: 1140px;//≥1200px	X-Large
$xxl: 1320px;//XX-Large ≥1400px

